*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 80px auto; 
    height: 100vh;  
}
header{
  text-align: center;
  width: 80%; 
  margin: 0 auto; 
  
}
h1{
    font-size: 1.5rem; 
    color: hsl(234, 12%, 34%); 
     margin-bottom: 15px; 
}
.top-header{
     font-size: 1.5rem;
     font-weight: 200; 
     color: hsl(234, 12%, 34%); 
     margin-bottom: -15px; 
}
@media (min-width: 940px){
main{
    display: grid; 
    grid-template-columns: 30% 30% 30%;
    grid-gap: 35px; 
    width: 80%; 
    margin: 0 auto; 
    margin-top: 45px; 
}
.supervisor, .calculator{
   margin: auto 0; 
}
header p{
    width: 45%; 
}
}
h3{
    color: hsl(234, 12%, 34%); 
    margin-bottom: 5px; 
}
p{
    color: hsl(229, 6%, 66%);
    margin: 0 auto 10px; 
    font-weight: 400; 
    line-height: 1.5; 
    font-size: 15px; 
}
img{
    margin-left: 80%; 
    width: 50px; 
    height: 50px; 
}
main{
    margin: 50px auto;
    width: 85%; 
}
section{
    text-align: left;
    padding: 0 10px; 
    box-shadow: 2px 10px 15px hsl(226, 31%, 89%);
    border-radius: 7px; 
    padding: 20px; 
    margin: 35px auto; 
}
.supervisor{
    border-top: 5px solid hsl(180, 62%, 55%);
}
.team-builder{
    border-top: 5px solid hsl(0, 78%, 62%);
}
.karma{
    border-top: 5px solid hsl(34, 97%, 64%);
}
.calculator {
   border-top: 5px solid hsl(212, 86%, 64%); 
}
.attribution { 
    font-size: 11px;
    text-align: center; 
    padding: 5px auto; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}